

.profileHead {
	border: 1px solid rgba(2, 88, 140, 0.1);
	margin: 0 auto 0 auto;
	padding: 8rem 2rem;
	position: relative;
	width: 100%;
	border-radius: 0.6rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 70rem;
}

.profileBody {
	padding-top: 4rem;
}

.profileAvatar {
	width: 15rem;
	height: 15rem;
	background: var(--bg-color);
	border: 1.5rem solid var(--bg-color);
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}

.profileAvatar img {
	max-width: 100%;
}


.adminName, .adminBio, .socialInfo, .locationInfo, .statInfo {
	text-align: left;
	max-width: 50rem;
	margin: 0 auto;
}

.adminBio {
	padding: 1rem 0 0;
}

.socialInfo, .locationInfo {
	font-size: 1.3rem;
}

.socialInfo {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: auto;
	justify-content: flex-start;
}

.socialInfo li {
	margin: 0.5rem;
	list-style: none;
	display: grid;
	grid-template-columns: 10rem 1fr;
	text-align: left;
	max-width: 30rem;
}

.socialInfo li span:nth-child(1) {
	text-align: left;
	padding-right: 1rem;
}

.socialInfo li span:nth-child(2) {
	font-weight: 600;
}

.locationInfo {
	margin-top: 0.5rem;
}

.statInfo {
	font-size: 13px;
	margin-top: 2rem;
}

.statInfo li {
	list-style: none;
	margin: 0.5rem 0;
}

.statInfo table {
	border-collapse: collapse;
	margin: 0 auto;
}

.statInfo table tr td {
	border: 1px solid var(--font-color);
	padding: 0.6rem 0.8rem;
}


.actionLinks {
	margin: 3rem 0 1rem 0;
}

.actionLinks ul {
	/*border: 1px solid var(--neutral-color-2);*/
	max-width: 20rem;
	margin: 0 auto;
	border-radius: 0.6rem;
	/*background: rgba(0, 0, 0, 0.1);*/
	background: var(--bg-color);
	padding: 1rem;
}

.actionLinks ul li {
	list-style: none;
	text-align: center;
	margin: 1rem 0;
}

.actionLinks ul li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 0.6rem;
	padding: 1rem;
}

.actionLinks ul li a:hover {
	background: var(--searchbox-bg);
}

/* >>>>>>>>>>MEDIA QUERIES<<<<<<<< */
@media screen and (max-width: 530px) {
	.profileHead {
		grid-template-columns: 1fr;
		text-align: center;
	}
	.profileHead > div:nth-child(1) {
		text-align: center !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.profileAvatar {
		margin: 0 auto;
	}

	.statInfo {
		text-align: center;
	}

	.socialInfo li  {
		grid-template-columns: 1fr;
		text-align: center;
		justify-content: center;
	}

	.socialInfo li span:nth-child(1) {
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	.socialInfo {
		flex-direction: column;
	}

	.socialInfo div {
		margin: 0.5rem;
	}
}

@media screen and (max-width: 450px) {
	.profileHead {
		padding: 8rem 0 0;
	}
}