

.profileHead {
	border: 1px solid rgba(2, 88, 140, 0.1);
	margin: 12rem auto 0 auto;
	padding: 8rem 2rem 2rem;
	position: relative;
	width: 100%;
	/*max-width: 90rem;*/
	border-radius: 0.6rem;
	background-color: var(--bg-color);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2303588c' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.profileAvatar {
	width: 15rem;
	height: 15rem;
	background: var(--bg-color);
	border: 1.5rem solid var(--bg-color);
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -7.5rem;
}

.profileAvatar img {
	max-width: 100%;
}


.adminName, .adminBio, .socialInfo, .locationInfo, .statInfo {
	text-align: center;
	max-width: 50rem;
	margin: 0 auto;
}

.adminBio {
	padding: 1rem 0 0;
}

.socialInfo, .locationInfo {
	font-size: 1.3rem;
}

.socialInfo {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
}

.socialInfo li {
	margin: 0.5rem;
	list-style: none;
	display: grid;
	grid-template-columns: 10rem 1fr;
	text-align: left;
	max-width: 30rem;
}

.socialInfo li span:nth-child(1) {
	text-align: right;
	padding-right: 1rem;
}

.socialInfo li span:nth-child(2) {
	font-weight: 600;
}

.locationInfo {
	margin-top: 0.5rem;
}

.statInfo {
	margin-top: 2rem;
	border: 1px solid black;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	border-radius: 1rem;
	overflow: hidden;
}

.statInfo table {
	border-collapse: collapse;
	margin: 0 auto;
}

.statInfo table tr td {
	border: 1px solid var(--font-color);
	padding: 0.6rem 0.8rem;
}


.actionLinks {
	margin: 3rem 0 1rem 0;
}

.actionLinks ul {
	/*border: 1px solid var(--neutral-color-2);*/
	max-width: 20rem;
	margin: 0 auto;
	border-radius: 0.6rem;
	/*background: rgba(0, 0, 0, 0.1);*/
	background: var(--bg-color);
	padding: 1rem;
}

.actionLinks ul li {
	list-style: none;
	text-align: center;
	margin: 1rem 0;
}

.actionLinks ul li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 0.6rem;
	padding: 1rem;
}

.actionLinks ul li a:hover {
	background: rgba(0, 0, 0, 0.2);
}

/* >>>>>>>>>>MEDIA QUERIES<<<<<<<< */
@media screen and (max-width: 500px) {
	.socialInfo {
		flex-direction: column;
	}

	.socialInfo div {
		margin: 0.5rem;
	}
}

@media screen and (max-width: 450px) {
	.profileHead {
		padding: 8rem 0 0;
	}
}