.blogMain {
  max-width: 128rem;
  margin: 0 auto;
}

.pinnedPostWrapper {
  border: 1px solid var(--neutral-color-4);
  margin: 0 0 8rem;
  padding: 2rem;
  border-radius: 0.6rem;
}

.blogPostsList {
  max-width: 128rem;
  margin: 0 auto -6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.blogBoxAnchor {
  display: block;
  margin: 2rem 0 6rem;
}

.blogBoxAnchor:hover .blogBoxLeft::before {
  /* transform: scale(1.01, 1.02); */
  transform: scale(1.03, 1.04);
  opacity: 1;
  left: -0.4rem;
  top: -0.2rem;
}

.blogBox {
  display: grid;
  grid-column-gap: 2rem;
}

.blogBoxLeft {
  width: 100%;
  height: 48.4rem;
  position: relative;
}

.blogBoxLeft::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1.5px solid var(--pri-neutral);
  transform: scale(1);
  opacity: 0;
  border-radius: 0.8rem;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.blogBoxLeft > img {
  transition: all 0.3s ease-in-out;
  border: none;
}

.postCover {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1 !important;
  object-fit: cover;
  object-position: center;
  border-radius: 0.8rem;
}

.blogBoxRight {
  padding: 1.5rem 0 0;
  position: relative;
  max-width: 100%;
}

.blogBoxRight h3 {
  padding: 1.5rem 0 1rem;
  box-shadow: none;
  z-index: 4;
  position: relative;
  border-radius: 1rem;
  font-size: clamp(2.7rem, 3.5vw, 3rem);
  font-weight: 600;
  font-family: 'Hanken Grotesk';
}

.blogBoxRight p {
  opacity: 0.85;
  overflow-wrap: break-word !important;
  max-width: 100%;
  word-break: break-word;
}

.bbrSmallMetaOne {
  opacity: 0.7;
  font-size: clamp(1.7rem, 2.5vw, 2rem);
  padding: 0 0 0.5rem;
}

/* >>>>>>>>>>>>FEATURED POST<<<<<<<<<<<< */
.featPostAnchor {
  display: block;
}

.featPostAnchor:hover .featPost::before {
  transform: scale(1.015, 1.025);
  opacity: 1;
}

.featPost {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 7.5rem;
  background: var(--neutral-color-5);
  border-radius: 2rem;
  grid-gap: 5rem;
  position: relative;
}

.featPost::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1.5px solid var(--pri-neutral);
  transform: scale(1);
  opacity: 0;
  border-radius: 2rem;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.featPostLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featPostLeft > div:nth-child(1) > * + * {
  margin-top: 2rem;
}

.featPostLeft > div:nth-child(1) > h4 {
  font-size: 2rem;
  font-weight: normal;
}

.featPostLeft > div:nth-child(1) > h1 {
  margin-top: 4rem;
  font-size: 4rem;
  text-transform: uppercase;
  word-break: break-word;
  font-weight: 500;
}

.featPostExtra {
  font-size: 2.2rem;
}

.featPostRight {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 7.5rem;
}

.featPostCover {
  max-width: 100%;
  width: 35rem;
  height: 45rem;
  z-index: 1 !important;
  object-fit: cover;
  object-position: center;
  border-radius: 0.8rem;
}

.featPostReadMore {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: none;
  gap: 4rem;
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.featPostReadMore > div {
  border: 2px solid var(--neutral-color-4);
  padding: 0;
  position: relative;
  border-radius: 100rem;
  width: 56px;
  height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.featPostArrow {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 1.6rem;
}

.featPostReadMore svg {
  position: absolute;
  left: -0.2rem;
  top: 0.2rem;
  width: 100%;
  height: 100%;
  transform: scale(1.2) rotate(-90deg);
}

.featPostCircle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  transition: all 0.5s ease-in-out;
  stroke: var(--pri-neutral);
}

.featPostAnchor:hover .featPostArrow {
  transform: translate(0.25rem, -0.25rem);
}

.featPostAnchor:hover .featPostCircle {
  stroke-dashoffset: 0;
}
/* >>>>>>>>>>>>END: FEATURED POST<<<<<<<<<<<< */

/* >>>>>>>>>>>>BLOG INTRO<<<<<<<<<<<< */
.blogIntro {
  padding: 7.5rem 0 4rem;
  border-radius: 2rem;
}

.blogIntro1 {
  position: relative;
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogIntroCover {
  width: 30rem;
  height: 30rem;
  border-radius: 100rem;
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%);
}

.blogIntro1Child {
  z-index: 2;
  text-align: center;
}

.blogIntroMainText {
  --fs: 5em;
  font-family: Harmond;
  transform: translate(calc(-1 * (var(--fs) / 2)), -7.5rem);
  font-size: clamp(3em, 10vw, var(--fs));
}

.blogIntroAbout {
  text-align: center;
  margin-top: 3em;
  font-size: 1.3em;
  transform: skew(-15deg);
  letter-spacing: 0.2em;
  word-spacing: 0.8em;
  line-height: 2em !important;
}

.blogIntroSearch {
  position: absolute;
  left: 50%;
  transform: translateY(2rem);
}

.blogIntroSearch input {
  border-radius: 1000rem;
  padding: 2rem;
  background: var(--pri-neutral-inverse);
  border: none;
  border-right: 2px solid var(--pri-neutral);
  outline: 2px solid var(--pri-neutral);
  outline-offset: 0.5rem;
  font-size: 1.2em;
  width: 15em;
  color: var(--pri-neutral);
}
/* >>>>>>>>>>>>END: BLOG INTRO<<<<<<<<<<<< */

/* >>>>>>>>>>>>BLOG TAGS<<<<<<<<<<<< */
.blogTagsWrapper {
  margin-bottom: 4em;
}

.blogTagsWrapper > h5 {
  font-size: 1.2em;
}

.blogTags {
  margin-top: 2rem;
}

.blogTags > span {
  display: inline-block;
  background: var(--neutral-color-5);
  margin-right: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 100rem;
  z-index: 2;
}
/* >>>>>>>>>>>>END: BLOG TAGS<<<<<<<<<<<< */

/* >>>>>>>>>>>>MEDIA QUERIES<<<<<<<<<<<< */
@media screen and (max-width: 980px) {
  .blogPostsList {
    grid-template-columns: repeat(2, 1fr);
  }

  .featPost {
    grid-template-columns: 1fr;
  }

  .featPostRight {
    justify-content: center;
    padding-top: 0;
    overflow: hidden;
  }

  .featPostAnchor:hover .featPost::before {
    transform: scale(1.02, 1.01);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .featPost {
    padding: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .blogPostsList {
    grid-template-columns: 1fr;
  }

  .blogIntroMainText {
    transform: translate(0, -7.5rem);
  }

  .blogIntroSearch {
    position: static;
    transform: translateY(10rem);
  }
}
