/* SECTION ONE */
.section1Wrapper {
	margin: 0 -2rem;
	background-color: var(--bg-color);
	position: relative;
	/* background-image: var(--sectionOneBgImgUrl); */
	/* border-bottom: 2px solid var(--bg-color-dark); */
}

.section1WrapperBg {
	background: var(--bg-color-dark-2);
	height: 50%;
	position: absolute;
	width: 100%;
	bottom: 0;
}


.sectionOne {
	width: 100%;
	height: 100vh;
	max-height: 85rem;
	min-height: 46rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding: 2rem;
}

.sectionOneShape {
	position: absolute;
	z-index: 0;
}

.text1 {
	bottom: 5rem;
	left: -3.5rem;
	transform: rotate(270deg) scale(0.9);
	font-weight: 600;
	opacity: var(--scrolldown-opacity);

}

.shape1 {
	border: 1px solid transparent;
	bottom: -2rem;
	right: -2rem;
	width: 15rem;
	height: 15rem;
	border-radius: 100%;
	transform: scale(0.7);
	background: var(--pri-blue-normal);
	opacity: var(--s1-shape-op);
	display: flex;
	justify-content: center;
	align-items: center;
}

.shape1 div {
	width: 15rem;
	height: 15rem;
	border-radius: 100%;
	opacity: 0.2;
	background: var(--pri-yellow-dark);
	opacity: 0.6;
	transform: translateX(-70%);
}

.shape2 {
	border: 1px solid transparent;
	top: -2rem;
	left: -2rem;
	width: 15rem;
	height: 15rem;
	border-radius: 100%;
	transform: scale(0.7) rotate(90deg);
	background: var(--pri-blue-normal);
	opacity: var(--s1-shape-op);
	display: flex;
	justify-content: center;
	align-items: center;
}

.shape2 div {
	width: 15rem;
	height: 15rem;
	border-radius: 100%;
	opacity: 0.2;
	background: var(--pri-yellow-dark);
	opacity: 0.6;
	transform: translateY(-70%);
}

.sectionOne h4 span {
	display: inline-block;
}

.welcomeLine {
	font-size: 9.5rem;
	text-align: center;
	line-height: 10rem;
	margin: 2rem 0;
	font-family: var(--header-font) !important;
	position: relative;
}

.welcomeLine span {
	/* border: 1px solid red; */
	text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}


.welcomeLine2 {
	font-family: inherit;
	position: relative;
}

.homeSeparator1 {
	height: 100vh;
	width: 100%;
	pointer-events: none;
}




/* SECTION TWO */
.sectionTwo {
	/* background: var(--bg-color); */
	position: relative;
	padding: 6rem 0;
}

.projectsHead {
	font-size: 5rem;
	/* font-size: calc(20px + (50-20) * ((100vw - 400px) / (1280 - 400))); */
	line-height: 6rem;
	margin-bottom: 2rem;
}

.projectStyleOne,
.projectStyleTwo {
	margin: 0 0 15rem 0;
	display: flex;
	justify-content: space-between;
}

.projectStyleOne:last-child,
.projectStyleTwo:last-child {
	margin: 0 0 15rem 0;
}

.projectStyleOne {
	flex-direction: row-reverse;
}

.projectSectionOne,
.projectSectionTwo {
	width: 50%;
}

.projectSectionOne {
	padding: 2rem 2rem 0.5rem;
	position: relative;
	z-index: 3;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.projectSectionOne:before {
	content: attr(data-first-letter);
	position: absolute;
	top: 0;
	font-size: 20rem;
	color: var(--ps1first-color);
	z-index: 0;
	pointer-events: none !important;
}

.projectStyleOne .projectSectionOne:before {
	right: 0;
}

.projectSectionOne h3 {
	color: var(--pri-yellow-dark);
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	font-family: var(--header-font) !important;
	letter-spacing: .3rem;
}


.projectSectionOne p {
	margin: 2rem 0 0 0;
	font-weight: 400;
	z-index: 3;
	border-bottom: 2px solid var(--pri-yellow-dark);
	padding-bottom: 1rem;
	/*font-size: 4rem;*/
	font-size: calc(14px + (26-14) * ((100vw - 400px) / (1280 - 400)));
}

.projectSectionTwo {
	position: relative;
}


.projectSectionTwo div img {
	max-width: 100%;
	height: auto;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: -webkit-filter 0.3s ease;
	transition: filter 0.3s ease;
	transition: filter 0.3s ease, -webkit-filter 0.3s ease;
	-webkit-transition: filter 0.3s ease, -webkit-filter 0.3s ease;
	-moz-transition: filter 0.3s ease, -webkit-filter 0.3s ease;
	-ms-transition: filter 0.3s ease, -webkit-filter 0.3s ease;
	-o-transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.projectStyleOne:hover img,
.projectStyleTwo:hover img {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.projectStyleOne .projectSectionTwo .projectTech {
	right: 0;
}

.projectTech {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	z-index: 2;
}

.projectTech span {
	display: inline-block;
	padding: 0.6rem 0.8rem;
	margin: 1rem;
	background: #E5E5E5;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-size: 1.3rem;
}

.projectExtLinks {
	padding: 1rem 0;
	margin: 1rem 0 0;
}

.projectExtLinks a {
	font-size: 1.5rem;
	/*background: var(--pri-blue-normal);*/
	padding: 1rem;
	margin-right: 2rem;
	border-radius: 0.6rem;
	color: var(--font-color);
	transition: letter-spacing 0.3s ease;
	/* border: 1px solid var(--font-color); */
	opacity: 0.8;
	border: 2px double transparent;
	background-image: var(--btn-grad-img);
	background-origin: border-box;
	background-clip: padding-box, border-box;
}

.projectExtLinks a:hover {
	background: transparent;
	color: var(--font-color);
	letter-spacing: 0.2rem;
	opacity: 1;
	font-weight: 600;
	border: 2px double transparent;
	background-image: var(--btn-grad-img);
	background-origin: border-box;
	background-clip: padding-box, border-box;
}

.moreProjects {
	margin: -2rem 0 2rem;

}

.section34Wrapper {
	background: var(--bg-color-dark-2);
	margin: 0 -2rem;
	padding: 0 2rem;
}

.waveTop {
	width: 100vw;
	margin: 0 -2rem;
	height: 15rem;
	background-image: var(--waveBgImgUrl);
}

.waveBottom {
	width: 100vw;
	margin: 0 -2rem;
	height: 15rem;
	background-image: var(--waveBgImgUrl);
	transform: scale(-1, -1);
}

/*>>>>>>>SECTION THREE<<<<<<<*/

.sectionThree {
	padding: 2rem 0 6rem;
	margin-top: 10rem;
}

.sectionThreeBgTextWrap {
	position: relative;
}

.sectionThreeBgText {
	font-size: 20rem;
	position: absolute;
	top: -5rem;
	right: 0;
	color: var(--ps1first-color);
	z-index: 1;
	text-rendering: optimizeLegibility;
	pointer-events: none;
}

.sectionThree h3 {
	font-size: 5rem;
	z-index: 3;
}

.sectionThree h4 {
	font-size: 2.2rem;
}

.s3AboutLink {
	margin: 3rem 0 0;
}

.aboutSeeMore {
	margin: 1rem 0;
	position: relative;
	display: inline-block;
	transition: padding 0.2s ease-in-out;
	-webkit-transition: padding 0.2s ease-in-out;
	-moz-transition: padding 0.2s ease-in-out;
	-ms-transition: padding 0.2s ease-in-out;
	-o-transition: padding 0.2s ease-in-out;
}

.aboutSeeMore span:nth-child(1) {
	display: inline-block;
	z-index: 4;
	position: relative;
	transition: color 0.2s ease-in-out;
	height: 100%;
	width: 100%;
}

.aboutSeeMore span:nth-child(1) a {
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: 1rem 0;
	transition: all 0.2s ease-in-out;
	
}

.aboutSeeMore span:nth-child(1) a {
	padding: 1rem 2rem;
	color: black;
}

.aboutSeeMore span:nth-child(1) {
	color: #e1e1ff;
}

.aboutSeeMore span:nth-child(2) {
	height: 100% !important;
	width: 100%;
	background-image: linear-gradient(to right, rgb(34, 193, 195), rgb(253, 187, 45));
	border: 0;
	border-radius: 10rem;
	position: absolute;
	display: inline-block;
	bottom: 0;
	left: 0;
	z-index: 1;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.aboutSeeMore span:nth-child(2)::before {
	content: "";
	height: 100% !important;
	width: 100%;
	background-image: linear-gradient(to left, rgb(34, 193, 195), rgb(253, 187, 45));
	border: 0;
	border-radius: 10rem;
	position: absolute;
	display: inline-block;
	bottom: 0;
	left: 0;
	z-index: 2;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	opacity: 0;
}

.aboutSeeMore:hover span:nth-child(2)::before {
	opacity: 1 !important;
}

/* .aboutSeeMore span:nth-child(1):hover+span {
	background-image: linear-gradient(to left, rgb(34, 193, 195), rgb(253, 187, 45));
	width: 100%;
} */

.aboutText {
	transition: all 0.2s ease-in-out;
	word-break: keep-all;
	height: 5rem;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}


/*>>>>>>>>SECTION FOUR<<<<<<<<*/
.sectionFour {
	padding: 6rem 0 2rem;
}

.servicesHead {
	font-size: 5rem;
	line-height: 6rem;
	margin-bottom: 2rem;
}

.servicesWrapper {
	display: grid;
	grid-template-columns: 60% 40%;
	border-radius: 0.6rem;
}

.servicesWrapper ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 2rem;
}

.servicesWrapper ul li {
	list-style: none;
	position: relative;
	display: flex;
}

.servicesWrapper ul li div:nth-child(1) span {
	width: 3rem;
	height: 3rem;
	/*background: var(--font-color);*/
	background: var(--pri-yellow-dark);
	display: inline-block;
	border-radius: 150px 0px 150px 150px;
	margin: 0.7rem 2rem 0 0;
}

.servicesWrapper ul li div:nth-child(2) h5 {
	font-size: 1.8rem;
}

.servicesWrapper ul li div:nth-child(2) p {
	opacity: 0.8;
	margin-top: 1rem;
}

.coderImgWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.coderImgWrapper img {
	max-width: 100%;
}


/*>>>>>>>>>SECTION FIVE<<<<<<<<*/
.sectionFive {
	padding: 6rem 0 0;
}

.s5PostWrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 1rem 0;
}

.s5PostFlex {
	margin: 2rem;
	max-width: 30rem;
}

.s5PostImg {
	width: 30rem;
}

.s5PostImg img {
	max-width: 100%;
	max-height: 25rem;
	transition: all 0.2s ease-in;
	border-radius: 0.8rem;
}

.s5PostInfo {
	width: 90%;
	margin: -2rem auto 0;
	transition: all 0.2s ease-in;
	background: var(--bg-color-dark);
	position: relative;
	padding: 1rem;
	border-radius: 0.8rem;
	overflow-wrap: break-word;
}

.s5PostHref:hover .s5PostImg img {
	transform: translateY(-1.5rem);
}

.s5PostHref:hover .s5PostInfo {
	transform: scale(1.1);
}

.s5PostInfo div {
	font-size: 1.3rem;
	margin: 0.3rem 0;
}

.s5PostInfo p {
	font-size: 1.45rem;
	margin: 1.2rem 0 0;
}

.s5PostInfo div,
.s5PostInfo p {
	opacity: 0.75;
}

.postShortExcerpt {
	word-spacing: 0.1rem;
	line-height: 2rem;
	font-size: 1.3rem !important;
}

/* >>>>>>>>>>>>MEDIA QUERIES<<<<<<<<<<<<<<< */
@media screen and (max-width: 958px) {
	.servicesWrapper {
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
	}

	.servicesWrapper ul {
		grid-row: 2/3;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.coderImgWrapper {
		max-width: 40rem;
		margin: 0 auto;
	}

	.coderImgWrapper img {
		margin: -4rem 0 0;
	}
}

@media screen and (max-width: 1011px) {
	.welcomeLine {
		font-size: 8.5rem;
		line-height: 9rem;
	}	
}

@media screen and (max-width: 960px) {
	.welcomeLine {
		font-size: 7.3rem;
		line-height: 9rem;
	}	
}

@media screen and (max-width: 835px) {
	.welcomeLine {
		font-size: 6.5rem;
		line-height: 8rem;
	}

	.servicesWrapper ul {
		grid-template-columns: 1fr 1fr;

	}

	.servicesWrapper ul li div:nth-child(1) span {
		width: 2.5rem;
		height: 2.5rem;
	}


}

@media screen and (max-width: 759px) {
	.projectSectionOne {
		width: 60%;
	}

	.projectSectionTwo {
		width: 40%;
	}

	

	.projectTech span {
		padding: 0.2rem;
		font-size: 1.1rem;
	}

	.projectsHead,
	.sectionThree h3,
	.servicesHead {
		font-size: 4rem;
	}

	.sectionThree h4 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 746px) {
	.welcomeLine {
		font-size: 6.1rem;
		line-height: 8rem;
	}
	
}

@media screen and (max-width: 705px) {
	.welcomeLine {
		font-size: 5.7rem;
		line-height: 8rem;
	}
	
}

@media screen and (max-width: 676px) {
	.welcomeLine {
		font-size: 5rem;
	}

	.projectTech {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 650px) {
	.text1 {
		transform: rotate(270deg) scale(0.75);
		bottom: 4rem
	}
}

@media screen and (max-width: 638px) {
	.projectExtLinks a {
		font-size: 1.4rem;
		padding: 0.7rem;
	}

	.projectExtLinks a:hover {
		letter-spacing: 0.1rem;
	}

	.sectionThree h4 {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: 579px) {

	.welcomeLine {
		font-size: 4.5rem;
	}

	.projectStyleOne,
	.projectStyleTwo {
		flex-direction: column-reverse;
	}

	.projectSectionOne,
	.projectSectionTwo {
		width: 100%;
	}

	.projectTech {
		flex-direction: column;
	}

	.projectSectionOne p {
		margin: 1.5rem 0 0 0;
		padding-bottom: 2rem;
	}
}

@media screen and (max-width: 533px) {
	.welcomeLine {
		font-size: 4rem;
		line-height: 5rem;
	}

	.sectionThree h4 {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 525px) {
	.servicesWrapper ul {
		grid-template-columns: 1fr;

	}

	.servicesWrapper ul li div:nth-child(1) span {
		width: 2rem;
		height: 2rem;
		margin-right: 1rem;
	}

}

@media screen and (max-width: 476px) {
	.welcomeLine {
		font-size: 3.8rem;
		line-height: 5rem;
	}
}

@media screen and (max-width: 436px) {
	.welcomeLine {
		font-size: 3.2rem;
		line-height: 5rem;
	}

	.projectSectionOne p {
		font-size: 1.5rem;
	}

	.servicesWrapper ul li div:nth-child(2) h5 {
		font-size: 1.6rem;
	}

	.servicesWrapper ul li div:nth-child(2) p {
		opacity: 0.8;
		font-size: 1.5rem;
	}

	.text1 {
		transform: rotate(270deg) scale(0.65);
		bottom: 3rem
	}
}

@media screen and (max-width: 369px) {
	.projectSectionOne {
		padding: 0;
		padding-top: 1.5rem;
	}

}

@media screen and (max-width: 337px) {}