/* SECTION ONE */
.section1Wrapper {
	margin: 0 -2rem;
	position: relative;
	/* background-image: var(--sectionOneBgImgUrl); */
	/* border-bottom: 2px solid var(--bg-color-dark); */
}


.sectionOne {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding: 2rem;
}

.sectionScrollButtonWrapper {
	position: absolute;
	bottom: 10%;
}


.scrollText {
	position: absolute;
	z-index: 0;
	top: 20%;
	left: 3%;
	font-weight: 600;
	opacity: var(--scrolldown-opacity);
}

.sectionOne h4 span {
	display: inline-block;
}

.welcomeLine {
	/* font-size: clamp(3.2rem, 8vw, 22rem); */
	/* font-size: clamp(3.2rem, 8vw, 8vw); */
	font-size: clamp(4rem, 8vw, 8vw);
	text-align: center;
	margin: 2rem 0;
	/* font-family: var(--header-font) !important; */
	font-family: 'Space Grotesk' !important;
	position: relative;
	text-transform: lowercase;
	line-height: 80%;
	font-weight: 900;
	letter-spacing: 0.1em;
}

.welcomeLine > span {
	/* border: 1px solid red; */
	display: block;
}

.welcomeLine > span:nth-child(1),
.welcomeLine > span:nth-child(2),
.welcomeLine > span:nth-child(3) {
	position: relative;
}

.welcomeLine > span:nth-child(2) {
	font-style: italic !important;
	transform: skew(-10deg)
}

.welcomeLine > span:nth-child(1):before {
	position: absolute;
	left: 0;
	content: '<';
	transform: translateX(50%);
}

.welcomeLine > span:nth-child(2):after {
	position: absolute;
	content: '•';
	transform: translateY(-12%);
}


.welcomeLine > span:nth-child(3):after {
	position: absolute;
	content: '/>';
	transform: translateX(-8%);
	letter-spacing: -0.2em;
}


.welcomeLine2 {
	font-family: inherit;
	position: relative;
	font-family: 'Space Grotesk' !important;
	font-weight: bold;
}

.homeSeparator1 {
	height: 100vh;
	width: 100%;
	pointer-events: none;
}




/* SECTION TWO */
.sectionTwo {
	/* background: var(--bg-color); */
	position: relative;
	padding: 6rem 0;
}

.projectImgWrapper {
	max-width: 100%;
}

.projectImgWrapper > div {
	width: 100%;
}

.projectImgWrapper img {
	width: 100%;
	height: auto;
}

.projectsHead {
	font-size: 5rem;
	/* font-size: calc(20px + (50-20) * ((100vw - 400px) / (1280 - 400))); */
	line-height: 6rem;
	margin-bottom: 2rem;
}

.projectStyleOne,
.projectStyleTwo {
	margin: 0 0 15rem 0;
	display: flex;
	justify-content: space-between;
}

.projectStyleOne:last-child,
.projectStyleTwo:last-child {
	margin: 0 0 15rem 0;
}

.projectStyleOne {
	flex-direction: row-reverse;
}

.projectSectionOne,
.projectSectionTwo {
	width: 50%;
}

.projectSectionOne {
	padding: 0.8vw 1.5vw 0.5vw;
	position: relative;
	z-index: 3;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.projectSectionOne:before {
	content: attr(data-first-letter);
	position: absolute;
	top: 0;
	font-size: clamp(20rem, 15vw, 15vw);
	color: var(--ps1first-color);
	z-index: 1;
	pointer-events: none !important;
	mix-blend-mode: color-burn;
}

.projectStyleOne .projectSectionOne:before {
	right: 0;
}

.projectSectionOne h3 {
	font-size: clamp(2rem, 4vw, 4vw);
	font-weight: 800;
	text-transform: uppercase;
	font-family: var(--header-font) !important;
	letter-spacing: .3rem;
}


.projectSectionOne p {
	margin: 1vw 0 1.5vw;
	font-weight: 400;
	z-index: 3;
	padding-bottom: 0.2em;
	line-height: 1.2em !important;
}

.projectAbout {
	font-size: clamp(1.6rem, 1.6vw, 1.6vw);
}

.projectRole, .projectStack {
	font-size: clamp(1.4rem, 1.2vw, 1.2vw);
}

.projectSectionTwo {
	position: relative;
}


.projectSectionTwo div img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

.projectStyleOne .projectSectionTwo .projectTech {
	right: 0;
}

.projectTech {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	z-index: 2;
	height: 100%;
	flex-wrap: wrap;
}

.projectTech span {
	display: inline-block;
	padding: 0.6rem 0.8rem;
	margin: 1rem;
	background: #E5E5E5;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	font-size: 1.3rem;
	border-radius: 0.8rem;
	width: max-content;
}

.projectExtLinks {
	padding: 1vw 0;
	margin: 2vw 0 0;
}

.projectExtLinks a {
	font-size: clamp(1.5rem, 1.5vw, 1.5vw);
	margin: clamp(2rem, 2vw, 2vw) 0 0;
}

.projectExtLinks a:first-child {
	margin-right: 2vw;
}


.moreProjects {
	margin: -2rem 0 2rem;

}

.section34Wrapper {
	background: var(--bg-color-dark-2);
	margin: 0 -2rem;
	padding: 0 2rem;
}

.waveTop {
	width: 100vw;
	margin: 0 -2rem;
	height: 15rem;
	background-color: transparent;
	background-image: var(--wave-top-Bg);
	margin-bottom: -2.1rem;
	background-repeat: repeat-x;
}

.waveBottom {
	width: 100vw;
	margin: 0 -2rem;
	height: 15rem;
	background-image: var(--wave-bottom-Bg);
	background-color: transparent;
	background-repeat: repeat-x;
}

.homeMeta {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	margin-top: 1.5rem;
}

.hmMobile {
	display: none;
}

.homeMeta a:hover {
	text-decoration: underline;
}

.homeMeta > div:last-child {
	justify-self: flex-end;
}

.sec2Header {
	position: relative;
	margin-top: 2vw;
	margin-bottom: 6vw;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em;
}

.sec2Header p {
	font-size: clamp(1.8rem, 2.5vw, 2.5vw);
	max-width: 100%;
	/* width: calc(75% + 1vw); */
	line-height: 1.2em;
	text-transform: uppercase;
	justify-self: end;
	grid-column: 2 / 5;
}

.sec2Header p::first-letter {
	margin-left: 7vw;
}

.sec2Header > div {
	grid-column: 1 / 2;
	align-items: start;
	justify-content: start;
	transform: translateY(-2em)
}


.sec2BottomSeeMoreText {
	font-size: 1.3rem !important;
}

/*>>>>>>>SECTION THREE<<<<<<<*/

.sectionThree {
	padding: 2rem 0 6rem;
	margin-top: 10rem;
}

.sectionThreeBgTextWrap {
	position: relative;
}

.sectionThreeBgText {
	font-size: 20rem;
	position: absolute;
	top: -5rem;
	right: 0;
	color: var(--ps1first-color);
	z-index: 1;
	text-rendering: optimizeLegibility;
	pointer-events: none;
	mix-blend-mode: color-burn;
}

.sectionThree h3 {
	font-size: 5rem;
	z-index: 3;
}

.sectionThree h4 {
	font-size: 2.2rem;
}

.s3AboutLink {
	margin: 3rem 0 0;
}


.aboutSeeMore {
	padding: 1rem 2rem;
}


.aboutText {
	transition: all 0.2s ease-in-out;
	word-break: keep-all;
	height: 5rem;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.nameMarquee {
	z-index: 4;
}

.profileImgWrapper {
	display: flex;
	justify-content: center;
	transform: translateY(-9vw)
}

.profileImgWrapper > div:first-child {
	width: clamp(50rem, 30vw, 100rem);
	max-width: 100%;
}

.profileImgWrapper > div:first-child > img {
	/* border: 3px solid orange !important;
	opacity: 1 !important; */
	width: 100%;
}

.briefInfo {
	position: relative;
	margin-top: -5vw;
	margin-bottom: 4vw;
}

.briefInfo p {
	font-size: clamp(1.8rem, 2.5vw, 2.5vw);
	max-width: 100%;
	width: calc(50% + 1vw);
	line-height: 1.2em;
	text-transform: uppercase;
}

.briefInfo p::first-letter {
	margin-left: 3vw;
}

.learnMoreAboutBtn {
	position: absolute;
	top: -5vw;
	right: 2vw;
}


/*>>>>>>>>SECTION FOUR<<<<<<<<*/
.sectionFour {
	padding: 6rem 0 2rem;
}

.servicesHead {
	font-size: clamp(5rem, 2vw, 2vw);
	line-height: 1em;
	margin-bottom: 1em;
	text-align: center;
	text-transform: uppercase;
}

.servicesWrapper {
	display: grid;
	border-radius: 0.6rem;
}

.servicesWrapper ul {
	width: 100%;
	height: clamp(80rem, 50vw, 100rem);
	overflow: hidden;
	position: relative;
	border-radius: 3rem;
	border: 1px dashed var(--physics-border);
}

.servicesWrapper ul li {
	list-style: none;
	position: relative;
	display: flex;
	border: 1px solid var(--font-color);
	width: clamp(20rem, 16vw, 16vw);
	height: clamp(20rem, 16vw, 16vw);;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	padding: 5rem;
	text-align: center;
	position: absolute;
	overflow: hidden;
	user-select: none;
	cursor: grab;
	visibility: hidden;
}

.servicesWrapper ul li:hover {
	color: var(--pri-neutral-inverse);
	background: var(--font-color);
}

.servicesWrapper ul li h5 {
	/* font-size: 1.8rem; */
	font-size: clamp(1.4rem, 1.2vw, 1.2vw);
}

.servicesWrapper ul li p {
	opacity: 0.8;
	margin-top: 0.6vw;
	font-size: clamp(1.2rem, 1vw, 1vw);
	line-height: clamp(1.1rem, 1.2vw, 1.2vw);
}

/*>>>>>>>>>SECTION FIVE<<<<<<<<*/
.sectionFive {
	padding: 6vw 0 0;
}

.sec5Intro {
	font-size: clamp(0.8em, 2vw, 2vw);
	max-width: 100%;
	/* width: calc(75% + 1vw); */
	line-height: 1.2em;
	text-transform: uppercase;
	justify-self: end;
	grid-column: 2 / 5;
	text-align: center;
	margin-bottom: 3vw;
}

.s5PostWrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 1vw 0;
}

.s5PostFlex {
	margin: 2rem;
	max-width: clamp(30rem, 30vw, 30vw);
}

.s5PostImg {
	width: clamp(30rem, 30vw, 30vw);
}

.s5PostImg img {
	max-width: 100%;
	transition: all 0.2s ease-in;
	border-radius: 0.8rem;
}

.s5PostInfo {
	width: 90%;
	margin: -2em auto 0;
	transition: all 0.2s ease-in;
	background: var(--bg-color-dark);
	position: relative;
	padding: 1.2vw;
	border-radius: 0.8rem;
	overflow-wrap: break-word;
}

.s5PostInfo > h3 {
	font-size: clamp(2rem, 2vw, 2vw);
}

.s5PostHref:hover .s5PostImg img {
	transform: translateY(-1.5em);
}

.s5PostHref:hover .s5PostInfo {
	transform: scale(1.1);
}

.s5PostInfo div {
	font-size: clamp(1.3rem, 1.1vw, 1.1vw);
	margin: 0.3rem 0;
}

.s5PostInfo p {
	font-size: clamp(1.45rem, 1.3vw, 1.3vw) !important;
	line-height: 1.7em;
	margin: 0.5em 0 0;
}

.s5PostInfo div,
.s5PostInfo p {
	opacity: 0.75;
}

.postShortExcerpt {
	word-spacing: 0.1rem;
	line-height: 2rem;
	font-size: 1.3rem !important;
}

.sec5SeeMore {
	padding: 1vw 0;
	margin: 2vw 0 0;
	text-align: center;
	margin-bottom: 5vw;
}

.sec5SeeMore a {
	font-size: clamp(1.5rem, 1.5vw, 1.5vw);
	margin: clamp(2rem, 2vw, 2vw) 0 0;
}

/* >>>>>>>>>>>>MEDIA QUERIES<<<<<<<<<<<<<<< */
@media screen and (max-width: 958px) {
	.servicesWrapper {
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
	}

	.servicesWrapper ul {
		grid-row: 2/3;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.coderImgWrapper {
		max-width: 40rem;
		margin: 0 auto;
	}

	.coderImgWrapper img {
		margin: -4rem 0 0;
	}
}

@media screen and (max-width: 835px) {

	.servicesWrapper ul {
		grid-template-columns: 1fr 1fr;

	}

	.servicesWrapper ul li div:nth-child(1) span {
		width: 2.5rem;
		height: 2.5rem;
	}


}

@media screen and (max-width: 759px) {
	.projectSectionOne {
		width: 60%;
	}

	.projectSectionTwo {
		width: 40%;
	}

	

	.projectTech span {
		padding: 0.2rem;
		font-size: 1.1rem;
	}

	.projectsHead,
	.sectionThree h3,
	.servicesHead {
		font-size: 4rem;
	}

	.sectionThree h4 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 676px) {

	/* .projectTech {
		flex-direction: row;
		flex-wrap: wrap;
	} */
}

@media screen and (max-width: 650px) {
	.text1 {
		transform: rotate(270deg) scale(0.75);
		bottom: 4rem
	}


}

@media screen and (max-width: 638px) {

	.sectionThree h4 {
		font-size: 1.8rem;
	}

	.briefInfo p {
		width: calc(65% + 1vw);
	}

	.hmDesktop {
		display: none;
	}

	.hmMobile {
		display: inline;
	}
}

@media screen and (max-width: 579px) {

	.projectStyleOne,
	.projectStyleTwo {
		flex-direction: column-reverse;
	}

	.projectSectionOne,
	.projectSectionTwo {
		width: 100%;
	}

	/* .projectTech {
		flex-direction: column;
	} */

	.projectSectionOne p {
		margin: 1.5rem 0 0 0;
		padding-bottom: 2rem;
	}
}

@media screen and (max-width: 533px) {

	.sectionThree h4 {
		font-size: 1.6rem;
	}
}

@media screen and (max-width: 525px) {
	.servicesWrapper ul {
		grid-template-columns: 1fr;

	}

	.servicesWrapper ul li div:nth-child(1) span {
		width: 2rem;
		height: 2rem;
		margin-right: 1rem;
	}

	.briefInfo p {
		width: 100%;
	}

	.learnMoreAboutBtn {
		position: relative;
		top: 1em;
		left: 0;
	}

}

@media screen and (max-width: 436px) {

	.projectSectionOne p {
		font-size: 1.5rem;
	}

	.servicesWrapper ul li div:nth-child(2) h5 {
		font-size: 1.6rem;
	}

	.servicesWrapper ul li div:nth-child(2) p {
		opacity: 0.8;
		font-size: 1.5rem;
	}

	.text1 {
		transform: rotate(270deg) scale(0.65);
		bottom: 3rem
	}
}

@media screen and (max-width: 369px) {
	.projectSectionOne {
		padding: 0;
		padding-top: 1.5rem;
	}

}

@media screen and (max-width: 337px) {}