.loginPageWrapper {
	/*border: 1px solid red;*/
	min-height: 45rem;
	display: grid;
	grid-template-columns: 30rem calc(100% - 30rem);
	margin-top: 4rem;

}

.lpLeft {
	/*border: 1px solid green;*/
	display: flex;
	align-items: center;
}

.lpRight {
	/*border: 1px solid orange;*/
	background-image: url('/assets/img/Taieri.png');
	background-size: cover;
}

.loginForm {
	/*border: 1px solid blue;*/
	width: 30rem;
	max-width: 100%;
	padding: 1rem;
}

.loginForm label, .loginForm input {
	display: block;
	margin: 0.5rem 0;
}


.usernameFC, .passwordFC, .submitFC {
	margin: 2rem 0;
}

.usernameFC input, .passwordFC input {
	width: 100%;
	padding: 1rem;
	/* background: rgba(0, 0, 0, 0.1); */
	outline: none;
	/* border: 1px solid rgba(14, 14, 14, 0.1); */
	border-radius: 0.6rem;
	font-family: var(--default-font) !important;
	color: var(--font-color);
	border: 1px solid var(--neutral-color-4);
	background: var(--searchbox-bg);
}

.submitFC {
	margin-top: 4rem;
}


.submitFC input {
	width: 100%;
	padding: 1rem;
	background: var(--pri-yellow-dark);
	outline: none;
	border: none;
	font-family: var(--default-font) !important;
	font-size: 1.6rem;
	color: white;
	border-radius: 0.6rem;
}

.submitFC input:hover {
	opacity: 0.78;
}

/* >>>>>>>>>MEDIA QUERIES<<<<<<< */
@media screen and (max-width: 342px) {
	.loginPageWrapper {
		grid-template-columns: 100%;
	}
	.loginForm {
		width: 100%;
		padding: 0;
	}

	.lpLeft {
		display: block;
	}

	.lpRight {
		display: none;
	}

	.usernameFC input {
		display: block;
	}
}