.title {
  font-family: AkiraExpanded;
  font-size: clamp(5em, 10vw, 10vw);
  z-index: 3;
  text-align: center;
}

.intro {
  position: relative;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.github {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

.github_child {
  width: min-content;
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr;
  }
  .intro > div:first-child {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .intro > div:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .intro > div:last-child {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
