.main {
  text-align: center;
}

.workspace {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.workspace > div:first-child {
  width: clamp(40rem, 20vw, 80rem);
  max-width: 100%;
}

.workspace > div:first-child > img {
  width: 100%;
}

.intro {
  position: relative;
  margin-top: 10rem;
}

.introText {
  --fs: 5em;
  font-family: AkiraExpanded;
  font-size: clamp(3em, 10vw, var(--fs));
  text-shadow: 0px 0px 0.01em var(--pri-neutral-inverse);
  text-align: center;
  margin: 4rem 0 3rem;
}

.main h2 {
  font-size: clamp(1.8rem, 2.5vw, 2.5vw);
  margin: 3.2rem 0 1.6rem;
  text-decoration: underline;
  font-family: AkiraExpanded;
}

.main li {
  font-size: clamp(1.8rem, 1.8vw, 1.8vw);
  max-width: 100%;
  line-height: 1.6em;
  margin-bottom: 1em;
  list-style: none;
}

.lists {
  margin-top: 8em;
}

.lists > * + * {
  margin-top: 6em;
}

.dotfiles {
  border: 1px solid var(--font-color);
  padding: 0.4em 0.8em 0.4em 1em;
  display: inline-block;
  margin-top: 0.5em;
}

@media screen and (max-width: 1365px) {
  .introText > span {
    transform: translateY(1.5rem);
  }
}

@media screen and (max-width: 1024px) {
  .introText {
    transform: translate(-50%, -7.5rem) !important;
  }
}

@media screen and (min-width: 1765px) {
  .introText > span {
    transform: translateY(calc(0rem + 1.25vw));
  }
}
